body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;

}

.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;

}

.nav-link{
    color: black !important;
}
.f-info-links a{
text-decoration: none;
color: black;
}

.f-info-links a:hover{
text-decoration: underline;

}
.f-info{
    text-align: center;
    height: 8rem;
    display: flex;
    flex-wrap: wrap;
    background-color: #ebebeb;
    justify-content: center;
    align-items:space-evenly;
}
.f-info-links, .f-info-socials,.f-info-brands{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.f-info-socials i{
   margin-right: 1rem;
   font-size: 1.2rem;
}

/* cards */

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
  padding: 0px !important;
}
.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    color: black;
  text-decoration: none !important;
  
}

/* Card Effect */

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;

}

/*newpage*/

.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/*editpage*/

.edit-btn{
     background-color: #fe424d !important;
    border: none !important;

}
.listing-img{
  width: 40vh;
  height: 200px;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

/*showpage*/
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;

}

#map{
   height: 300px;
   width: 100%;
   border-radius: 10px;
}